<% errors.forEach(function (message){%>
<div class="alert alert-danger small"><%= message %></div>
<%})%> <% success.forEach(function (message){%>
<div class="alert alert-success small"><%= message %></div>
<%})%>
